body.app{padding:45px 0px 80px 0px;}
* html body{overflow:hidden;}
* html div#content{height:100%;overflow:auto;}
h1,h2,h3,h4{font-family:'Open Sans';font-weight:400;}
#q{width:300px}
/*.sidebar{position:fixed}*/
form.bookmark input[type=text],form.bookmark textarea{width:500px}
form.bookmark textarea{height:120px}
.drag{cursor:move}
.topbar-inner,.topbar .fill{
  color: white;
background-color: #0064CD;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(#049CDB), to(#0064CD));
background-image: -moz-linear-gradient(top, #049CDB, #0064CD);
background-image: -ms-linear-gradient(top, #049CDB, #0064CD);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049CDB), color-stop(100%, #0064CD));
background-image: -webkit-linear-gradient(top, #049CDB, #0064CD);
background-image: -o-linear-gradient(top, #049CDB, #0064CD);
background-image: linear-gradient(top, #049CDB, #0064CD);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049CDB', endColorstr='#0064CD', GradientType=0);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
border-color: #0064CD #0064CD #003F81;
border-color: rgba(0, 0, 0, 0.1);
}
.topbar a{color:#f0f0f0;text-shadow:0 1px 0 rgba(0,0,0,0.25);}
body div.header{height:120px;background:#575EFF;background:-moz-linear-gradient(top,#575EFF 0%,#423CFF 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#575EFF),color-stop(100%,#423CFF));background:-webkit-linear-gradient(top,#575EFF 0%,#423CFF 100%);background:-o-linear-gradient(top,#575EFF 0%,#423CFF 100%);background:-ms-linear-gradient(top,#575EFF 0%,#423CFF 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#575EFF',endColorstr='#423CFF',GradientType=0 );background:linear-gradient(top,#575EFF 0%,#423CFF 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333',endColorstr='#575EFF',GradientType=0);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);}
div.header h1{color:#fff;line-height:120px;}
div.index{margin-top:20px;}
div.header h1{font-size:48px;}
div#footer{padding:0px;position:absolute;bottom:0;left:0;width:100%;height:70px;background-color:#D6DAFF;border-top:1px solid #e5e5e5;}
div#footer-content{padding:10px;}
@media screen{body>div#header{position:fixed;}
body>div#footer{position:fixed;}
}
#text_content{margin-left:250px;width:600px;height:40px;}
#messages .user {width:20%}
div.content{margin-top:10px}
