body.app{padding:85px 0px 80px 0px;}
* html body{overflow:hidden;}
* html div#content{height:100%;overflow:auto;}
h1,h2,h3,h4{font-family:'Open Sans';font-weight:400;}
#q{width:300px}
/*.sidebar{position:fixed}
*/
form.bookmark input[type=text],form.bookmark textarea{width:500px}
form.bookmark textarea{height:120px}
.drag{cursor:move}
.topbar-inner,.topbar .fill{color:white;background-color:#0064CD;background-repeat:repeat-x;background-image:-khtml-gradient(linear,left top,left bottom,from(#049CDB),to(#0064CD));background-image:-moz-linear-gradient(top,#049CDB,#0064CD);background-image:-ms-linear-gradient(top,#049CDB,#0064CD);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#049CDB),color-stop(100%,#0064CD));background-image:-webkit-linear-gradient(top,#049CDB,#0064CD);background-image:-o-linear-gradient(top,#049CDB,#0064CD);background-image:linear-gradient(top,#049CDB,#0064CD);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#049CDB',endColorstr='#0064CD',GradientType=0);text-shadow:0 -1px 0 rgba(0,0,0,0.25);border-color:#0064CD #0064CD #003F81;border-color:rgba(0,0,0,0.1);}
.topbar a{color:#f0f0f0;text-shadow:0 1px 0 rgba(0,0,0,0.25);}
body div.header{height:120px;background:#575EFF;background:-moz-linear-gradient(top,#575EFF 0%,#423CFF 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#575EFF),color-stop(100%,#423CFF));background:-webkit-linear-gradient(top,#575EFF 0%,#423CFF 100%);background:-o-linear-gradient(top,#575EFF 0%,#423CFF 100%);background:-ms-linear-gradient(top,#575EFF 0%,#423CFF 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#575EFF',endColorstr='#423CFF',GradientType=0 );background:linear-gradient(top,#575EFF 0%,#423CFF 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333',endColorstr='#575EFF',GradientType=0);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);}
div.header h1{color:#fff;line-height:120px;}
div.index{margin-top:20px;}
div.header h1{font-size:48px;}
div#footer{padding:0px;position:absolute;bottom:0;left:0;width:100%;height:70px;background-color:#D6DAFF;border-top:1px solid #e5e5e5;}
div#footer-content{padding:10px;}
@media screen{body>div#header{position:fixed;}
body>div#footer{position:fixed;}
}
#text_content{width:600px;height:40px;}
#messages .user{width:20%}
.room-heading{position:fixed;top:40px;height:90px;background:#fff;margin:0;padding:0;}
.room-heading h3{margin-bottom:10px;}
.sidebar{position:fixed;}
.sidebar ul li {}
.sidebar a{display:block;line-height:22px;background-position:3px center;text-decoration:none;padding:5px 5px 5px 20px;background-repeat:no-repeat;}
.sidebar a:hover{background-color:#F2F2F2;}
.sidebar a.active{color:#A11F72}
#room-users li{padding:5px}
.heading{position:fixed;height:40px;width:100%;background:#fff;top:40px}
#room-menu a{background-image:url(../images/sprite.png)}
#room-menu a:hover{background-image:url(../images/sprite-hover.png)}
#room-menu a.messages{background-position: -7px 0px}
#room-menu a.files{background-position: -7px -32px}
#room-menu a.transcripts{background-position: -7px -64px}
#room-menu a.settings{background-position: -7px -96px}
#room-menu a.leave{background-position: -7px -128px}
#room-users li{display:block;line-height:22px;background-position:-7px -160px;text-decoration:none;padding:5px 5px 5px 20px;background-repeat:no-repeat;background-image:url(../images/sprite.png);}
