{% extends "base.html" %}
{% block bodyclass %}app{% end %}

{% block body %}
  <div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="{{ reverse_url('home') }}">meetings</a></h3>
          <form action="">
            <input type="text" placeholder="Search" id="q">
          </form>
          <ul class="nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">Rooms</a>
              <ul class="dropdown-menu">
                {% for r in handler.rooms %}
                  <li><a href="{{ reverse_url('room', r._id) }}">{{ r.name }}</a></li>
                {% end %}
              </ul>
            </li>
            <li><a href="{{ reverse_url('new') }}">+ New Room</a></li>
          </ul>
          <ul class="nav secondary-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">
                {{ current_user.name }}</a>
              <ul class="dropdown-menu">
                <li><a href="{{ reverse_url('logout') }}">Log out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% block container %}
  <div class="container">
    <div class="content">
      {% block content %}{% end %}
    </div>
  </div>
  {% end %}

  {% block footer %}{% end %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
  <script src="/static/javascripts/app.js"></script>
  <div sub-key="{{ handler.config.pubnub_subscribe_key }}" ssl="off" id="pubnub"></div>
  <script src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>
  {% block scripts %}{% end %}
{% end %}
