{% extends "app_base.html" %}

{% block bodyclass %}app home{% end %}

{% block container %}
<div class="container">
  <h2>Rooms</h2>

  {% if not rooms %}
    <p>
      There are no rooms right now.
    </p>
    <p>
      <a href="{{ reverse_url('new') }}" class="btn primary large">Create your first room</a>
    </p>
  {% else %}

  <table class="zebra-striped">
    <thead>
      <tr>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody id="rooms">
      {% for room in rooms %}
        {% module RoomItem(room) %}
      {% end %}
    </tbody>
  </table>

  {% end %}
</div>
{% end %}
