{% extends "app_base.html" %}

{% block bodyclass %}app home{% end %}

{% block container %}
<div class="container">
  <h2>Rooms</h2>

  {% if not rooms %}
    <p>
      There are no rooms right now.
    </p>
    <p>
      <a href="{{ reverse_url('new') }}" class="btn primary large">Create your first room</a>
    </p>
  {% else %}

  <table class="zebra-striped">
    <thead>
      <tr>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody id="rooms">
      {% for room in rooms %}
        <tr class="room">
          <td width="50%">
            <h3>
              <a href="{{ reverse_url('room', room._id) }}">{{ room.name }}</a>
              <small>{{ room.topic }}</small>
            </h3>
          </td>
          <td>
            <a href="{{ reverse_url('invite', room._id) }}" class="btn primary">Invite Friend</a>
            <a href="{{ reverse_url('invitations', room._id) }}" class="btn">Show Invitations</a>
            <a class="btn danger" href="" data-room="{{ room._id }}">Delete Room</a>
          </td>
        </tr>
      {% end %}
    </tbody>
  </table>

  {% end %}
</div>
{% end %}
