{% extends "base.html" %}

{% block body %}
<div class="header">
  <div class="container"><h1>meetings <small>alpha (buggy)</small></h1></div>
</div>
<div class="container">
  <div class="content index">
    <div class="row">
      <div class="span10 columns">
        <h2>What is it?</h2>
        <ul>
          <li>A web based group chat application.</li>
          <li>Users can share files by dropping the files to the message area.</li>
          <li>Users can create private or public rooms.</li>
          <li>Users can invite their friends to rooms they own.</li>
          <li>No need to create a username and password, just use your Google account.</li>
        </ul>
      </div>
      <div class="span6 columns">
        <h3>Sign in with your Google Account</h3>
        <a href="{{ reverse_url('auth_google') }}">
          <img src="https://github.com/intridea/authbuttons/raw/master/png/google_64.png"
               align="absmiddle">Google
        </a>
      </div>
    </div>
  </div>
</div>
{% end %}
