{% extends "app_base.html" %}

{% block container %}
<div class="heading container-fluid">
  <h2>{{ room.name }} <small id="topic">{{ room.topic }}</small></h2>
</div>

<div class="container-fluid">
  <div class="sidebar">
    <ul class="unstyled" id="room-menu">
      <li><a href="{{ reverse_url('messages', room._id) }}" class="messages">Messages</a></li>
      <li><a href="{{ reverse_url('files', room._id) }}" class="files">Files</a></li>
      <li><a href="{{ reverse_url('transcripts', room._id) }}" class="transcripts">Transcripts</a></li>
      {% if is_admin %}
        <li><a href="{{ reverse_url('invitations', room._id) }}" class="invitations">Invitations</a></li>
        <li><a href="{{ reverse_url('settings', room._id) }}" class="settings">Settings</a></li>
      {% end %}
      <li><a href="{{ reverse_url('leave_room', room._id) }}" class="leave">Leave</a></li>
    </ul>

    <h4>Who's here?</h4>
    <ul class="unstyled" id="room-users">
      {% for user in current_users %}
        <li id="user_{{ user._id }}">{{ user.name or user.email }}</li>
      {% end %}
    </ul>
  </div>

  <div class="content" id="content">
    {% block innercontent %}
      {% module Messages(recent_messages) %}
    {% end %}
  </div>
</div>

<div id="footer">
  <div id="footer-content" class="container-fluid">
    <div class="sidebar">
    </div>
    <div class="content">
      {% module MessageComposer(room) %}
    </div>
  </div>
</div>
{% end %}

{% block scripts %}
<script src="{{ static_url('javascripts/plupload.full.js') }}"></script>
<script src="{{ static_url('javascripts/jquery.pjax.js') }}"></script>
<script>window.M = {% raw json_encode(js_context) %};</script>
{% end %}
